body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

div#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div#root header.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 10px 35px;
}

div#root header.main-header h2 {
  font-size: 1.2em;
  font-weight: 600;
  color: #333333;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-decoration: none;
}

div#root header.main-header nav {
  display: flex;
}

div#root header.main-header nav button {
  width: 7em;
  height: 1.8em;
  margin: 3px;
  background: #333333;
  color: #ffffff;
  font-weight: 600;
  font-size: 1em;
  padding: 5px;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s;
}

div#root header.main-header nav button:hover {
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}

table#arena {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 2px solid #333333;
  border-radius: 10px;
}

table#arena tr {
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #333;
}

table#arena tr:last-child {
  border: none;
}

table#arena tr td {
  width: 33.333333%;
  height: 100px;
  border-right: 1px solid #333;
}

table#arena tr td:last-child {
  border: none;
}

table#arena tr td button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 2em;
  font-weight: 700;
}

table#arena tr td button:hover {
  background-color: #333333;
  color: #ffffff;
}

div#root footer.main-footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

div#root footer.main-footer p {
  color: #6d6d6d;
  font-size: 0.9rem;
}

section#NewGame,
section#GameOver {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.4s;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}

button#Close {
  position: relative;
  top: -100px;
  background-color: transparent;
  margin: 15px;
  color: #ffffff;
  border: none;
  font-size: 3em;
  transform-origin: 0, 0;
  transform: rotate(45deg);
  cursor: pointer;
}

div#New,
div#Over {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 0.3em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

div#New h3,
div#Over h3 {
  width: 100%;
  border-bottom: 1px solid #333333;
  padding: 2px 15px 10px;
  font-weight: 700;
  font-size: 1.5em;
  color: #333333;
}

div#New div.buttonsNew,
div#Over div.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

div#New div.buttonsNew button,
div#Over div.options button {
  width: 45%;
  height: 2.5em;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.7px;
  font-family: sans-serif;
  color: #ffffff;
  background-color: #333333;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}

div#New div.buttonsNew button#yesNew,
div#Over div.options button#newgame {
  background-color: rgba(9, 121, 3);
}

div#New div.buttonsNew button#notNew,
div#Over div.options button#GoOut {
  background-color: rgb(121, 3, 3);
}

@media screen and (max-width: 548px) {
  header.main-header {
    flex-direction: column;
  }

  section#NewGame button#Close {
    top: -140px;
    margin: 0;
    margin-left: -40px;
  }
}
